{
  "name": "{{NAME}}",
  "upstream_url": "{{UPSTREAM_URL}}",
  "upstream_sha": "{{UPSTREAM_SHA}}",
  "upstream_branch": "{{UPSTREAM_BRANCH}}",
  "forge_url": "{{FORGE_URL}}",
  "license": "{{LICENSE}}",
  "version_base": "{{VERSION_BASE}}",
  "spt_version": "",
  "created_at": "{{CREATED_AT}}"
}
