# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea/
/obj/
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#local files
/obj/Debug
/bin/
/release/
acidphantasm-progressivebotsystem.csproj.user
/Properties/launchSettings.json
/acidphantasm-progressivebotsystem.sln.DotSettings.user
/acidphantasm-progressivebotsystem.csproj.DotSettings