/node_modules/
/package.json
/package-lock.json
/dist/

SkillDistribution-Server/dist/
SkillDistribution-Server/node_modules/
SkillDistribution-Server/types/
SkillDistribution-Server/package-lock.json

**/.vs/
**/bin/
**/obj/